
<div class="m-t-10">
    <h3>Important information</h3>
<div class="bg-gray">
    <h4>
        YOUR HOME MAY BE REPOSSESSED IFYOU DO NOT KEEP UP REPAYMENTS ON YOUR MORTGAGE
    </h4>
    <p>
        Allapplications are subject to status and our lending criteria. This means that the amount we will lend you will
        depend on your individualcircumstances, the type of property and the amount you borrow. For example, we may require
        a higher deposit if you are buying a flat or a new build property.
    </p>
</div>
</div>